.organizations-header {
  margin: 1em;

  .organizations-section-title {
    font-weight: bold;
    font-size: large;
  }
}

.organizations-section-content {
  border: solid 1px grey;

  & .container {
    display: grid;
    grid-template-columns: [row1-start] 75% [row1-end row2-start] 25% [row2-end];
    grid-template-rows: auto;
    align-items: center;
    border-top: solid 1px grey;
    &:first-child {
      border-top: none;
    }
    & .col-item {
      align-content: center;
      height: 3rem;
    }
  }
}

.dialog {
  border: solid 1px black;
  border-radius: 5%;
  padding: 0px;
}
