<section>
  <div class="section-header">
    <span class="section-title">My organizations</span>
    <button
      class="btn btn-primary float-end"
      (click)="addOrganizationDialog.showModal()"
    >
      Add organization
    </button>
  </div>
  <div class="section-content">
    <div class="container">
      <div class="col-item"><b>#</b></div>
      <div class="col-item"><b>Name</b></div>
      <div class="col-item"><b>Del.</b></div>
    </div>
    @if( organizations().length > 0 ) { @for(organization of organizations();
    track organization.id) {
    <div class="container">
      <div class="col-item">{{ $index + 1 }}</div>
      <div class="col-item" (click)="editOrganization(organization)">
        {{ organization.name }}
      </div>
      <div class="col-item">
        <fa-icon
          [icon]="faTrashCan"
          title="delete"
          (click)="deleteOrganization(organization.id)"
        ></fa-icon>
      </div>
    </div>
    } } @else {
    <div>No organizations to display.</div>
    }
  </div>
</section>
<section>
  <div class="section-header">
    <span class="section-title">Access groups: </span>
    <button
      class="btn btn-primary float-end"
      (click)="addGroupDialog.showModal()"
    >
      Add new
    </button>
  </div>
</section>

<dialog
  class="dialog"
  appDialog
  #addOrganizationDialog
  title="Add organization"
>
  <form [formGroup]="form">
    <ng-template appDialogContent>
      <app-add-organization
        formControlName="organizationName"
        placeholder="Type organization name"
      >
      </app-add-organization>
    </ng-template>
    <ng-template appDialogFooter>
      <button class="btn btn-secondary" (click)="saveOrganization()">
        Save
      </button>
    </ng-template>
  </form>
</dialog>

<dialog class="dialog" appDialog #addGroupDialog title="Add group">
  <form [formGroup]="addGroupForm">
    <ng-template appDialogContent>
      <app-add-group formControlName="groupName" placeholder="Add group">
      </app-add-group>
    </ng-template>
    <ng-template appDialogFooter>
      <button class="btn btn-secondary" (click)="addNewGroup()">Save</button>
    </ng-template>
  </form>
</dialog>
