<section>
  <div class="organizations-header">
    <span class="organizations-section-title">My organizations</span>
    <button class="btn btn-primary float-end" (click)="dialog.showModal()">
      Add organization
    </button>
  </div>
  <div class="organizations-section-content">
    @if( organizations().length > 0 ) { @for(organization of organizations();
    track organization.id) {
    <div class="container">
      <div class="col-item">Name: {{ organization.name }}</div>
      <div class="col-item">
        <fa-icon
          [icon]="faTrashCan"
          title="delete"
          (click)="deleteOrganization(organization.id)"
        ></fa-icon>
      </div>
    </div>
    } } @else {
    <div>No organizations to display.</div>
    }
  </div>
</section>

<dialog class="dialog" appDialog #dialog title="Add organization">
  <form [formGroup]="form">
    <ng-template appDialogContent>
      <app-add-organization formControlName="organizationName">
      </app-add-organization>
    </ng-template>
    <ng-template appDialogFooter>
      <button class="btn btn-secondary" (click)="saveOrganization()">
        Save
      </button>
    </ng-template>
  </form>
</dialog>
