/* You can add global styles to this file, and also import other style files */
.dialog {
  border: solid 1px black;
  border-radius: 5%;
  padding: 0px;
}

input {
  &.ng-valid[required],
  &.ng-valid.required {
    border: 5px solid #42a948; /* green */
  }

  &.ng-valid-pattern {
    color: red;
  }

  &.ng-dirty.ng-invalid {
    border: 5px solid #a94442; /* red */
  }
}

.error-text {
  color: red;
}